<h1>Liste des Tâches</h1>

<%= form_with url: chores_add_path, method: :post, local: true do %>
  <% @tasks.each do |task| %>
    <div>
      <%= check_box_tag 'task_ids[]', task.id %>
      <%= task.name %>
    </div>
  <% end %>

  <!-- Vous pouvez transmettre l'household_id si nécessaire -->

  <%= submit_tag "Suivant" %>
<% end %>
