<p>You've been invited to join <strong><%= @household.name %></strong> on 50/50.</p>

<p>50/50 helps households track domestic task distribution so everyone can see the real numbers.</p>

<p><%= link_to "Accept invitation and create your account", @signup_url %></p>

<p>This invitation is for <%= @invitation.email %>. If that's not you, ignore this email.</p>
